
<div  class="bodyWithPadding" >

  <h1 md-dialog-title>部屋を作成</h1>

  <div md-dialog-content>

    <div class="nameAndPassword marginedElement">
      <md-input-container>
        <input mdInput
          [(ngModel)]="newGroup.name"
          placeholder="new group name"
          [required]="newGroup.name == '' ">
      </md-input-container>
      <md-input-container>
        <input mdInput
          [(ngModel)]="newGroup.password"
          placeholder="password"
          [required]="newGroup.password =='' ">
      </md-input-container>
    </div>

    <div class="addPlayers marginedElement">
      <md-list>
        <h3 md-subheader>プレイヤー</h3>
        <md-list-item *ngFor="let playerName of newGroup.members; let idx = index">
          <button md-icon-button (click)="removePlayer( idx )">
            <md-icon md-list-icon class="removePlayerIcon">
              remove_circle_outline
            </md-icon>
          </button>
           <span class="playersName">{{idx + 1}}. {{playerName}}</span>
          <button md-icon-button (click)="movePlayerUpward( idx )">
            <md-icon md-list-icon class="movePlayerIcon">
              arrow_upward
            </md-icon>
          </button>
          <button md-icon-button (click)="movePlayerDownward( idx )">
            <md-icon md-list-icon class="movePlayerIcon">
              arrow_downward
            </md-icon>
          </button>
        </md-list-item>

        <md-list-item class="players">
          <md-input-container>
            <input mdInput
              #newPlayerName
              [(ngModel)]="newPlayerName"
              placeholder="player's name"
              [required]="newPlayerName =='' ">
            <button mdSuffix md-icon-button (click)="clearNewPlayerName()">
              <md-icon>clear</md-icon>
            </button>
          </md-input-container>
          <button md-mini-fab color="primary" (click)="addPlayer(); newPlayerName">
            <md-icon>add</md-icon>
          </button>
        </md-list-item>
      </md-list>
    </div>

  </div>

  <div md-dialog-actions class='actionButtons'>
    <span class="marginedElement">
      <button md-raised-button
        md-dialog-close="OK Clicked"
        color='primary'
        [disabled]="newGameFormIsValid()"
        (click)="newGame()">
        開始
      </button>
    </span>
    <span class="marginedElement">
      <button md-raised-button
        md-dialog-close="Cancel Clicked"
        class="marginedElement" >
        Cancel
      </button>
    </span>
  </div>

</div>
